<html lang="en">
<head>
    <title>Validation sample page</title>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<h3>User form</h3>
<form id="userForm">
    <input name="login" placeholder="Login">
    <br />
    <input name="name" placeholder="Name">
    <br />
    <input name="age" placeholder="Age">
    <br />
    <input name="salary" placeholder="Salary">
    <br />
    <button type="submit">Send</button>
</form>
<div>
    Response:
    <pre id="response">

    </pre>
</div>

<script>
    $(function(){
        $('#userForm').submit(function(e){
            e.preventDefault();

            $('#response').text('');

            $.ajax({
                type: 'POST',
                url: '/user-handler',
                dataType: 'json',
                data: JSON.stringify({
                    login: $(this).find('[name=login]').val(),
                    name: $(this).find('[name=name]').val(),
                    age: $(this).find('[name=age]').val(),
                    salary: $(this).find('[name=salary]').val()
                }),
                beforeSend: function(xhr) {
                    xhr.setRequestHeader('Content-Type', 'application/json')
                },
                success: function (response) {
                    $('#response').text('OK:\n' + JSON.stringify(response, null, 4));
                },
                error: function (xhr) {
                    $('#response').text('ERRORS:\n' + JSON.stringify(xhr.responseJSON, null, 4));
                }
            });
        });
    });
</script>

</body>
</html>