<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Index</title>
</head>
<ul>
  <li><a href="/">Index page</a></li>
  <li>
    <a href="/login">Login page</a>
  </li>
  <li th:if="${#authorization.expression('hasAuthority(''VIEW_ADMIN'')')}">
    <a href="/admin">Admin root page</a>
  </li>
  <li th:if="${#authorization.expression('hasAuthority(''VIEW_ADMIN'')')}">
    <a href="/admin/subpage">Admin subpage</a>
  </li>
  <li th:if="${#authorization.expression('hasAuthority(''VIEW_CATALOG'')')}">
    <a href="/catalog">Catalog page</a>
  </li>
  <li th:if="${#authorization.expression('isFullyAuthenticated()')}">
    <a href="/profile">Profile page</a>
  </li>
  <li><a href="/other">Other non-secured page</a></li>
</ul>


<th:block th:switch="${#authorization.expression('isFullyAuthenticated()')}">
  <div th:case="true">
    User is authenticated
    <br />
    username: <th:block th:text="${#authorization.authentication.principal.username}" />
    <br />
    custom auth user field: <th:block th:text="${#authorization.authentication.principal.customAuthField}" />
    <br />
    authorities: <th:block th:text="${#authorization.authentication.authorities}" />
  </div>
  <div th:case="false">
    User is anonymous
  </div>
</th:block>
</html>