<html lang="en">
<head>
  <title>My login page</title>
</head>
<body>
  <h3>Login form</h3>
  <form id="loginForm">
    <input name="login" placeholder="Login">
    <input name="password" type="password" placeholder="Password">
    <button type="submit">Log in</button>
  </form>
  <div>
    Login response:
    <pre id="loginResponse">

    </pre>
  </div>
  <br />
  <div>
    <button id="logout">Logout</button>
    <div>
      logout response:
      <pre id="logoutResponse">
      </pre>
    </div>
  </div>
  <br />
  <h3>Current user info</h3>
  <div>
    <button id="getUser">Get current user info</button>
    <div>
      Login response:
      <pre id="currentUserInfo">
      </pre>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script>
    $(function(){
      $('#loginForm').submit(function(e){
        e.preventDefault();

        $('#loginResponse').text('');

        $.ajax({
          type: 'POST',
          url: '/my-login',
          dataType: 'json',
          data: JSON.stringify({
            login: $(this).find('[name=login]').val(),
            password: $(this).find('[name=password]').val()
          }),
          beforeSend: function(xhr) {
            xhr.setRequestHeader('Content-Type', 'application/json')
          },
          success: function (response) {
            $('#loginResponse').text(JSON.stringify(response, null, 4));
          },
          error: function(xhr) {
            $('#loginResponse').text(JSON.stringify(xhr.responseJSON, null, 4));
          }
        });
      });

      $('#getUser').click(function(){
        $('#currentUserInfo').text('');

        $.ajax({
          url: '/user-details',
          success: function (response) {
            $('#currentUserInfo').text(JSON.stringify(response, null, 4));
          },
          error: function(xhr) {
            $('#currentUserInfo').text(JSON.stringify(xhr.responseJSON, null, 4));
          }
        });
      });

      $('#logout').click(function(){
        $('#logoutResponse').text('');

        $.ajax({
          url: '/logout',
          success: function (response) {
            $('#logoutResponse').text(JSON.stringify(response, null, 4));
          },
          error: function(xhr) {
            $('#logoutResponse').text(JSON.stringify(xhr.responseJSON, null, 4));
          }
        });
      });
    });
  </script>
</body>
</html>