<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>REST sample page</title>
</head>
<body>
<style>
    table {
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
        padding: 5px;
    }
</style>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<h3>Login form</h3>
<form id="loginForm">
    <input name="login" placeholder="Login">
    <input name="password" type="password" placeholder="Password">
    <button type="submit">Log in</button>
</form>
<div>
    Login response:
    <div id="loginResponse">

    </div>
</div>

<h3>Users</h3>
<div>
    <button id="getUsers">Get all users</button>
    <table>
        <thead>
            <th>Login</th>
            <th>Name</th>
        </thead>
        <tbody id="usersTable">

        </tbody>
    </table>
</div>

<script>
    $(function(){
        $('#loginForm').submit(function(e){
            e.preventDefault();

            $('#loginResponse').text('');

            $.ajax({
                type: 'POST',
                url: '/login',
                dataType: 'json',
                data: JSON.stringify({
                    login: $(this).find('[name=login]').val(),
                    password: $(this).find('[name=password]').val()
                }),
                beforeSend: function(xhr) {
                    xhr.setRequestHeader('Content-Type', 'application/json')
                },
                success: function (response) {
                    $('#loginResponse').text(JSON.stringify(response));
                }
            });
        });

        $('#getUsers').click(function(){
            var $users = $('#usersTable');
            $users.empty();

            $.ajax({
                url: '/users-ok',
                success: function (response) {
                    response.forEach(function(user){
                        $users.append('<tr><td>' + user.login + '</td><td>' + user.name + '</td></tr>');
                    })
                }
            });
        });
    });
</script>

</body>
</html>